{% extends 'HrefShortyBundle::layout.html.twig' %}

{% block main %}
    <section class="raw-fluid">
            <article class="span3">
                <header>
                    <h3>Last 10 URLs</h3>
                </header>
                <section>
                    <ol class="top_urls">
                        {% for url in last_urls %}
                            <li><a href="{{ path('url_show', {'generated': url.generated, 'mode': 'stats'}) }}" title="{{ url('url_show', {'generated': url.generated, 'mode': 'stats'}) }}">{{ url.original|slice(0,35) }}...</a></li>
                        {% endfor %}
                    </ol>
                </section>
            </article>
    </section>
{% endblock main %}