.main {
  .hero-unit {
    h1 {
      margin-bottom: 20px;
    }
    .url_form {
      input {
        width: 100%;
        height: 30px;
      }
    }
    .content {
      text-align: center;
    }
  }
}

