{% extends 'HrefShortyBundle::layout.html.twig' %}

{% block main %}

    <article class="hero-unit">
        <h1>Bookmarklet Installation</h1>

        <p>With the HREF Bookmarklet you'll be able to create short URLs while surfing the web - not leaving the web page you are
        surfing at the moment.</p>
        <p>To install the bookmarklet simple <strong>drag</strong> this button - <span class="label label-important"><a href="javascript:(function(){instacalc_script=document.createElement('SCRIPT');instacalc_script.type='text/javascript';instacalc_script.src='http://hrf.li/js/bookmarklet.js?x='+(Math.random());document.getElementsByTagName('head')[0].appendChild(instacalc_script);})();" title="Drag this to you bookmarks bar">HREF</a></span> - to your bookmarks bar.</p>
        <p>When surfing - simply click on the bookmark, and the URL will be shown shortened!</p>
    </article>



{% endblock %}