{% extends 'HrefShortyBundle::layout.html.twig' %}

{% block header %}
{% endblock header %}

{% block main %}
    <h1>Your very own short URL is: </h1>


    <h2>
        <a target="_blank" href="{{ url('url_show', { 'generated': url, 'mode': 'show' }) }}">{{ url('url_show', { 'generated': url, 'mode': 'show' }) }}</a>
    </h2>

    <p>
        Statistics for this URL: <a target="_blank" href="{{ url('url_show', { 'generated': url, 'mode': 'stats' }) }}">{{ url('url_show', { 'generated': url, 'mode': 'stats' }) }}</a>
    </p>

    <p>
        Copy the URL and click anywhere on the page to close this window.
    </p>

    <p>Thank you for using <a target="_blank" href="http://hrf.li">HREF</a> bookmarklet!</p>
{% endblock %}

{% block footer %}
{% endblock footer %}