{% extends 'HrefShortyBundle::layout.html.twig' %}

{% block main %}

    <article class="hero-unit">
        <h1>Tweetbot Setup Instructions</h1>

        <div class="content">
            <p>
                <a href="http://alldrin.tumblr.com/image/40419903792"><img src="http://24.media.tumblr.com/616657d09aa2017cc9f70d4092ba08f1/tumblr_mgkanjcSXW1qzo1f3o1_500.jpg" alt="Here&rsquo;s how you set up Andrey Esaulov&rsquo;s custom URL shortener within Tweetbot. Go to &ldquo;Settings&rdquo; -&amp;gt; &ldquo;Account&rdquo; -&amp;gt; &ldquo;URL shortening&rdquo; -&amp;gt; &ldquo;Custom&hellip;&rdquo; and paste &ldquo;http://hrf.li/api?url=%@&rdquo; there.

Done!"/></a>
            </p>

            <div class="caption"><p>Here’s how you set up <a href="http://hrf.li/" target="_blank">Andrey Esaulov’s custom URL shortener</a> within Tweetbot. Go to “Settings” -&gt; “Account” -&gt; “URL shortening” -&gt; “Custom…” and paste “http://hrf.li/api?url=%@” there.</p>

                <p>Done!</p></div>

        </div>

        <div class="info">

            <p><a href="http://alldrin.tumblr.com/post/40419903792/heres-how-you-set-up-andrey-esaulovs-custom-url">Permalink</a>  </p>
        </div>
    </article>



{% endblock %}